body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    /* Remove o espaço padrão */
    padding: 0;
    background-image: url('images/gifEstrelas.gif');
    background-repeat: no-repeat;
    /* Background cobrindo toda a tela */
    background-size: cover;
}

header img {
    width: 100px;
    height: 100px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
}

/* Em um header com display:flex, isso empurra os links para a direita */
header a:first-of-type {
    margin-left: auto;
}

header {
    background-color: rgb(32, 32, 255);
    padding: 5px;
    display: flex;
    /* um pra esquerda e outro pra direita */
    align-items: center;
}

/* ÁREA onde a div vai ficar CENTRALIZADA */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.container {
    display: block;
    text-align: center;
    color: black;
    background-color: white;
    width: 600px;
    height: 200px;
    border-radius: 15px;
}

.container h1 {
    font-size: 40px;
    margin: 20px 0 10px 0;
    color: rgb(207, 0, 0)
}

.container p {
    font-size: 20px;
    margin: 30px 20px 0;
    /* TOP | LEFT/RIGHT | BOTTOM */
    text-align: justify;
}

footer {
    background-color: rgb(32, 32, 255);
    text-align: center;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.comecar {
    display: block;
    margin: 20px auto;
    /* centraliza horizontalmente */
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(207, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}